<div class="container">
  <div *ngIf="message!=''" class="alert alert-primary" role="alert">
    {{message}}
    </div>
  <div class="jumbotron">
    <h1 class="display-4"> Hyperledger Fabric  Example</h1>
    <p class="lead">This is a simple Hyperledger fabric example, storing file hash and metadata into the distributed ledger through golang smart contract</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-9">
              <span class="hidden-file">
                <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
              </span>
              <div class="btn-group" (click)="fileInput.click()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
    <div class="bg-gradient bg-outline">
      <h4>Uploaded files</h4>
        <button class="btn btn-outline-warning text-dark" align="left" onclick="">Refresh</button>
      <div class="accordion" >
       
        <div *ngIf="filesData.length != 0">
          <div class="accordion-item" *ngFor="let item of filesData; let i = index" >
            <p class="accordion-header" id="headingOne">
              <button class="accordion-button btn btn-outline-dark " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              {{i+1}}. &nbsp; {{item.DocumentID}}
              </button>
            </p>
            <div id="collapseOne" class="accordion-collapse collapse bg-light bg-gradient text-dark" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div>
              <strong> Document Hash: </strong>  <p>{{item.fileHash}}</p>
              <strong> Document ID: </strong>  <p>{{item.DocumentID}}</p>
              <strong> Filename : </strong>   <p>{{item.filename}}</p>
              <strong> Transaction ID : </strong>  <p>{{item.txid}}</p>
              <strong> Size : </strong>   <p>{{item.size}}</p>
              <strong> Upload Time: </strong>  <p>{{item.uploadedTime | date:'medium'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



